 /*
  * 
  * APP专业技术开发，专注于开发夺宝和竞拍
  * QQ：474944111
  * QQ：1424445608
  * 微信：ifangzhan
  * 名称：南昌星澜科技科技有限公司
  * 网站：www.suxiangw.com
  */
.sx-view-1{
	background:#FF2D4B;
	overflow: hidden;
}
.sx-view-1 .aui-row{
	color: #fff;
	font-size: 0.65rem;
}
.sx-view-1 .aui-row .aui-col-xs-6{
	vertical-align:middle;
	line-height: 2.2rem;
}
.sx-view-1 .aui-row b{
	font-weight: bold;
	font-size: 1.2rem;
}
.sx-view-1 .aui-label{
	font-size: 0.55rem;
	background: #fff;
}
.sx-view-1 [class*=aui-col-]{
	padding: 0px;
}
.sx-view-2{
	background: #fff;
	font-size: 0.7rem;
	line-height: 1.2rem;
	padding: 0.25rem 0.75rem;
	padding-bottom: 0px;
}
.repai{
	background: #FFFFFF;
	color: #FF2D4B;
	border: 1px solid #FF2D4B;
	font-size: 0.55rem;
}
.xianshidjs{
	text-align: center;
	margin: 0 auto;
	background: #fff;
}
.xianshidjs p b{
	font-size: 2rem;
	font-weight: bold;
	color: #212121;
}
.sx-view-3{
	background: #fff url('../image/sx-view-3-1.png') no-repeat top center ;
	background-size:70%;
	padding-bottom: 0.01rem;
}
.sx-view-3-1{
	text-align: center;
	color: #fff;
	font-size: 1rem;
	padding-top: 0.4rem;
}
.sx-view-3-2-title span{
	font-size: 0.65rem;
	color: #999;
	padding-left: 0.35rem;
}
.sx-view-3-2-title2{
	color: #999 !important;
	font-size: 0.65rem !important;
}
.sx-view-3-2-title2 span{
	font-weight: bold;
	color: #FF2D4B !important
}
.sx-view-3-2 .aui-list-item-media,.sx-view-3-2 .aui-list-item-media img{
	width: 2rem;
	height: 2rem;
	padding: 0px;
}
.sx-view-3-2 .aui-list-item-media{
	margin-right: 0.75rem;
}
.sx-view-3-0{
	 margin-top: 0px !important;
	 box-shadow: 0px 5px 5px 2px #e8e8e8;
}
.sx-view-3 ul,.sx-view-3 ul li,.sx-view-3 .aui-list{
	border: 0px !important;
	background: none !important
}
.sx-view-3-3 div{
	color: #666;
	font-size: 0.65rem;
	text-align: left
}
.sx-view-3-3 .aui-tab-item{
	line-height: 1.8rem !important;
	height: 1.8rem !important;
}
.sx-view-3-3 img{
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	display: inline-block;
	vertical-align:middle;
	margin-right: 0.45rem;
}
.sx-view-4{
	padding: 0.75rem;
	margin-top: 0.45rem;
	background: #fff url('../image/logo-ico.png') no-repeat 0.75rem 0.75rem;
	background-size:30%;
}
.sx-view-4 .aui-col-xs-6{
	text-align: left;
}
.sx-view-4 .aui-col-xs-6 span{
	color: #FF2D4B;
	font-weight: 500
}
.sx-view-4 [class*=aui-col-]{
	padding: 0.15rem 0rem;
	font-size: 0.65rem;
}
.sx-view-4-1{
	background: #FFF4F4;
	border-radius: 0.35rem;
	margin-top: 2rem;
}
.sx-view-4-1 .aui-col-xs-3{
	line-height: 1.2rem;
	font-size: 0.55rem;
	color: #FF2D4B
}
.sx-view-4-1 img{
	width: 0.6rem !important;
	display: inline-block !important;
	vertical-align:middle !important;
	margin-right: 0.2rem !important;
}
.sx-tab{
	background: #fff;
	overflow: hidden;
}
.sx-tab-1,.sx-tab-2,.sx-tab-3{
	display: none
}
.sx-tab-2 .aui-list-item-media,.sx-tab-2 .aui-list-item-media img{
	width: 2rem;
	height: 2rem;
	padding: 0px;
}
.sx-tab-2 .aui-list-item-media{
	margin-right: 0.75rem;
}
.sx-tab-2 .aui-list-item-text{
	font-size: 0.65rem;
	color: #666
}
.sx-tab-2-1{
	overflow: hidden;
	padding-right: 15px;
	width: 55% !important;
}
.sx-tab-2-1 .aui-list-item-text{
	overflow: hidden;
	line-height: 1.25rem;
}
.sx-tab-2-2{
	right: 0.75rem;
	top: 0.65rem;
	position: absolute;
}
.sx-tab-2-2-1{
	font-size: 0.5rem;
}
.sx-tab-2-2-2{
	padding-top: 0.4rem;
}
.sx-tab-2-2-2 span{
	font-size: 1.3rem;
	color: #333;
	font-weight: bold;
}
.sx-tab-3{
	padding: 0.75rem;
	padding-top: 0.25rem;
	font-size: 0.65rem;
	line-height: 1.2rem;
}
.sx-tab-1 .aui-list-item-media,.sx-tab-1 .aui-list-item-media img{
	width: 2rem;
	height: 2rem;
	padding: 0px;
	border-radius: 50%;
}
.sx-tab-1 .aui-list-item-media{
	margin-right: 0.75rem;
	margin-top: 0.75rem;
}
.sx-lingxian{
	color: #FF2D4B !important;
}
#yichujiazaitishi{
	height:20rem;
	padding-top:2rem;
	text-align: center;
}
.sx-view-3-3 .aui-text-left{
	width: 40% !important;
}
.sx-view-3-3 .aui-text-right{
	width: 20% !important;
	text-align: center !important;
}
#zongshucji{
	padding: 0 0.2rem;
}
#sx-chujia{

}
.shaidanImg .aui-col-xs-3{
			width: 30%;
			height: 6.8rem;
		}
		.shaidanImg img{
			height: 100% !important;
			width: 100% !important;
			border: 1px solid #000;
		}
		.shaidanImg .aui-col-xs-3:first-child{
			margin-right: 0.25rem;
		}
		.shaidanImg .aui-col-xs-3:last-child {
			margin-left: 0.25rem;
		}