.t{
				 background-color:rgb(0, 0, 0);
				 opacity:0.5;
				 position: fixed;
				 width: 100%;
				 height: 100%;
				 top: 0;
				 left: 0;
				 z-index: 0;
			}
			.m{
				z-index: 11;
				position: fixed;
				top:0%;
				border-radius:0.25rem;
				left: 0%; 
			}
			.sx-main,.sx-main2{
				width:220px;
				margin: 0 auto;
				 
			}
			.sx-main{
				padding: 1rem;
				background:#fff;
			}
			.sx-main h3,.sx-main p{
				text-align: center;
			}
			.sx-y1{ 
				margin: 0 auto;
			}
			.aui-ellipsis-2{
				-webkit-line-clamp:1;
				text-align: center;
				font-size: 0.5rem;
				color: #999;
			}
			.shifu{
				color: #f00;
				font-size: 0.6rem;
			}
			.sx-y2{
				width: 80%;
				margin: 0 auto;
				padding: 0.75rem 0;
			}
			.sx-y2 input{
				width: 100%;
				border-radius: 0.25rem;
				border:1px solid #999;
				line-height: 1.2rem;
				height: 1.2rem;
				padding: 0.75rem;
				text-align: center;
				font-size: 0.75rem;
				color: #f00;
			}
			.sx-buts .aui-btn{
				color: #fff;
				font-weight: bold;
				font-size: 0.75rem;
				border-radius: 0.25rem;
			}
			.yqm1{
				background-image: url('../image/yq/yqm1.png');
				background-repeat: no-repeat;
				background-size: 100% 100%;
				height: 0.88rem;
				width: 100%;
			}
			.sx-buts{
				background: #fff;
				padding:1rem 2rem;
			}
			.aui-icon-close{
				text-align: center;
				margin: 0 auto;
				margin-top: 1rem;
				color: #FFF;
				font-size: 1.2rem;
				font-weight: bold;
				width: 50px;
				height: 50px;
			}